{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}


{% block body %}

<h1 class='text-center'> Bienvenue sur Le Bon Coin </h1>

<div class='text-center'>
    <p> Cette plateforme d'échange permet de partages des annonces pour vendre/acheter tout ce que vous voulez ! Découvrez le site en
    naviguant dans les catégories ou utilisez la fonction de recherche pour trouver ce que dont vous avez besoin. </p>  
    <img src='/img/bigpic.png' class='img-fluid'>
</div>


{% endblock %}