a, a:hover {
    color: white;
    text-decoration: none;
}

.banner {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.illustration {
    max-width: 50%;
    max-height: 500px;
}

.navbar-nav img {
    max-height: 50px;
    
}